.info-icon-link {
  position: relative;
  &__quantity {
    position: absolute;
    left: 15px;
    bottom: 17px;
    display: inline-block;
    width: 17px;
    height: 17px;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    color: var(--white);
    background-color: var(--orange);
    border-radius: 50%;
  }
}
