@import url(https://fonts.googleapis.com/css?family=Montserrat:,regular,500,600,700,800,900);

:root {
  --black_primary: #000000;
  --black_secondary: #101010;
  --gray: #838383;
  --white: #ffffff;
  --orange: #ffa542;
  --beige: #ffce7f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #eaeaea;
}

#root {
  display: grid;
  grid-template-rows: 101vh;
  font-family: Montserrat, sans-serif;
  font-size: 17px;
  line-height: 21px;
  font-weight: 400;
  font-style: normal;
  color: var(--black_primary);
}

.wrapper {
  display: grid;
  grid-template-columns: 1150px;
  grid-template-rows: auto 1fr auto;
  margin: 0 auto;
  padding: 0 20px;
}

a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}
